/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container {
        width: 100%;
        padding: 14px 25px;
    }

    .top {
        height: auto;
    }

    .top .top_flex .top_picture {
        animation: none;
        opacity: 1;
        transform: scale(.9);
    }

    .shop .shop_grid {
        margin-top: 50px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container {
       padding: 14px 20px;
    }

    .header .header_flex {
        justify-content: space-between;
    }

    .header .header_flex .menu ul li {
        margin-right: 25px;
    }

    .header .header_flex .menu ul li a {
        font-size: 14px;
    }

    .top .top_flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .top .top_flex .top_info {
        order: 2;
        margin-top: -50px;
    }

    .top .top_flex .top_picture {
        transform: scale(.8);
        margin-top: -50px;
    }

    .top .top_flex .top_info {
        margin-left: 11px;
        margin-right: 10px;
    }

    .top .top_flex .top_info .top_title {
        opacity: 1;
        font-size: 44px;
        line-height: 44px;
        transform: none;
        animation: none;
    }

    .top .top_flex .top_info .top_text {
        opacity: 1;
        transform: none;
        animation: none;
    }

    .top .top_flex .top_info .top_btn {
        opacity: 1;
        transform: none;
        animation: none;
        margin-top: 50px;
    }

    .content .furniture .furniture_flex {
        justify-content: center;
        flex-wrap: wrap;
    }

    .content .furniture .furniture_title {
        font-size: 43px;
    }

    .content .furniture .furniture_flex .furniture_item {
        margin-right: 17px;
        margin-left: -54px;
     }

    .content .furniture .furniture_flex .furniture_item .furniture_picture {
        transform: scale(.8);
    }

    .content .furniture .furniture_flex .furniture_item .caption {
        font-size: 18px;
    }

    .content .catalog .catalog_title {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 43px;
    }
    
    .footer .footer_title {
        margin-top: 30px;
        font-size: 43px;
        padding: 14px 20px;
    }

    .footer .text {
        padding: 14px 20px;
    }

    .content .shop .shop_grid {
        margin-top: 50px;
        grid-template-columns: 700px;
		grid-template-rows: repeat(3, 250px);
		grid-template-areas:
        "item_grid_1"
        "item_grid_2"
        "item_grid_3";
        margin-left: 0;
        justify-content: flex-start;
    } 
   
    .content .shop .shop_grid .shop_grid_1 {
        margin-top: 70px;
    }

    .content .shop .shop_grid .shop_grid_1 .shop_picture {
        -webkit-transform: scale(2);
        transform: scale(1.6);
        margin-top: -100px;
        margin-right: 100px;
        padding-right: 42px;
    }  
    
    .content .shop .shop_grid .shop_grid_1 .shop_info_grid {
        
        align-self: center;
        margin-bottom: 0;
        padding-right: 115px;
    }

    .content .shop .shop_grid .items_grid {
        justify-content: center;
    }
   
    .content .shop .shop_grid .items_grid .shop_picture {
        margin-left:10px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header .header_flex {
        justify-content: space-between;
    }

    .header .header_flex .logo .svg_first {
        animation: none;
        fill: #FED330;
    }
    
    .header .container .header_flex .menu .btn-mobile {
        display: block;
        font-size: 30px;
        color: #202020;
        border: none;
        background: none;
        outline: none;
        margin-left: auto;
        
    }

    .header .container .header_flex .menu {
        order:2;        
    }

    .header .container .header_flex .icons {
        order:1;
        align-items: center;
        position: absolute;
        left: 50%;
    }

    .header .container .header_flex .menu ul{
        display: none;
        padding-top: 20px;
    }

    .header .container .header_flex .menu .btn-mobile:focus + ul{
        display: block;
    }

    .header .container .header_flex .menu ul li{
        display: block;
        margin: 0;
        padding: 5px 0;
        text-align: right;
    }

    .header .header_flex .menu ul li a {
        font-size: 20px;
    }

    .content .furniture .furniture_title {
        font-size: 33px;
        line-height: 33px;
    }

    .content .furniture .furniture_flex .furniture_item {
        align-items: center;
        margin-right: 0;
        margin-left: -8px;
    }

    

    .content .shop .shop_grid {
        margin-top: 50px;
        grid-template-columns: 600px;
		grid-template-rows: repeat(3, 170px);
		grid-template-areas:
        "item_grid_1"
        "item_grid_2"
        "item_grid_3";
        margin-left: 0;
        justify-content: center;
    }

    .content .shop .shop_grid {
        margin-top: 20px;
        grid-template-columns: 320px;
        grid-template-rows: repeat(3, 280px);
        padding-top: 50px;
        padding-bottom: 50px;
		
    }

    .content .shop .shop_grid .items_grid .shop_info_grid {
        width: 100%;
        margin-top: 80px;
       text-align: center;
       padding: 0;
    }
    .content .shop .shop_grid .items_grid .shop_info_grid .shop_caption_grid {
        width: auto;
        font-size: 18px;
        line-height: 23px;
        text-align: center;       
    }

    .content .shop .shop_grid .items_grid .shop_picture {
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 0;
    }

    .content .shop .shop_grid .items_grid .shop_info_grid .btn_grid {
        width: 100%;
        font-size: 16px;
        line-height: 21px;
    }
    
    .content .shop .shop_grid .shop_grid_1 {
       
        align-self: flex-start;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .content .shop .shop_grid .shop_grid_1 .shop_picture {
        margin: 0 auto;  
        transform: scale(1.6);          
    }
    
    .content .shop .shop_grid .shop_grid_1 .shop_picture img {
        width: 101px;
    }

    .content .shop .shop_grid .shop_grid_1 .shop_info_grid {
        margin: 0 auto;
        margin-top: 150px;
        padding-right: 0;
    }

    .content .shop .shop_grid .shop_grid_1 .shop_info_grid .shop_caption_grid {
        
        text-align: center;
    }

	.content .catalog .catalog_flex {
        justify-content: center;
    }

    .content .catalog .catalog_flex .catalog_item {
        transform: scale(.5);
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -100px;
    }
    
    .content .catalog .catalog_title {
        font-size: 33px;
        line-height: 33px;
    }

    .footer .footer_title {
        font-size: 33px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    
    .footer .footer_form .footer_grid {
        grid-template-columns: repeat(2, 300px);
    }

    .footer .text {
        font-size: 14px;
        line-height: 21px;
        text-align: left;
        margin-bottom: 20px;
    }

    .footer .footer_form .footer_grid {
        display: grid;
        margin: 70px auto;
        grid-gap: 30px;
        grid-template-rows: 50px 50px 50px 120px 50px ;
        grid-template-columns: repeat(1, 300px);
        grid-template-areas: 
            "name"
            "phone"
            "email"
            "message"
            "btn";
    }

    .footer .footer_text {
        font-size: 14px;
    }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .header .header_flex .logo .mobile {
        display: block;
        transform: scale(1.6);
        margin-top: 10px;
        margin-left: 10px;
    }

    .header .header_flex .logo .desk {
        display: none;
    }
    
    .header .container .header_flex .icons {
        transform: scale(.7);
        margin-left: -20px;
    }

    .header .header_flex .menu ul li a {
        font-size: 18px;
    }

    .top .top_flex .top_picture {
        transform: scale(.5);
        margin-top: -150px;
        margin-bottom: 10px;
    }

    .top .top_flex .top_info .top_btn {
        margin-top: 40px;
        margin-right: 0;
        width: 100%;
    }
    
    .content .furniture .furniture_flex .furniture_item {
        margin-bottom: 30px;
    }

    .content .furniture .furniture_title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
    }

    .content .furniture .text {
        font-size: 14px;
        line-height: 21px;
        text-align: left; 
    }

    .content .furniture .furniture_flex {
        margin-top: 30px;
    }

    .content .furniture .furniture_flex .furniture_item {
        
        margin-left: 0;
    }

    .content .furniture .furniture_flex .furniture_item .furniture_picture {
        transform: scale(.7);
        margin: -40px;
    }

    .content .furniture .furniture_flex .furniture_item .caption {
        margin-top: -18px;
    }

    

    .content .catalog .catalog_flex .catalog_item {
        transform: scale(.4);
        margin-left: -60px;
        margin-right: -60px;
        margin-top: -150px;
        margin-bottom: -50px;
    }

    .content .catalog .catalog_flex .catalog_item .catalog_product span {
        width: 65px;
        height: 30px;
        font-size: 21px;
        line-height: 29px;
    }

    .content .catalog .catalog_title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 15px;
    }

    .content .catalog .text {
        font-size: 14px;
        line-height: 21px;
        text-align: left; 
    }
        
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
    
    .header .container .header_flex .menu .btn-mobile {
        font-size: 27px;
             
    }

    .header .header_flex .menu ul li a {
        font-size: 16px;
    }

    
    .top .top_flex .top_picture {
        transform: scale(.5);
        margin-top: -150px;
    }

    .top .top_flex .top_info .top_title {
        font-size: 20px;
        line-height: 23px;
    }

    .top .top_flex .top_info .top_text {
        font-size: 14px;
        line-height: 21px;
    }

    .top .top_flex .top_info .top_btn {
        font-size: 18px;
        line-height: 21px;
        margin-top: 20px;

    }

    .top .top_flex .top_info {
        margin-left: -5px;
        margin-top: -150px;
    }

   

    .content .catalog .catalog_flex .catalog_item {
        transform: scale(.4);
        margin-left: -60px;
        margin-right: -60px;
        margin-top: -150px;
        margin-bottom: -50px;
    }

    .footer .footer_form .footer_grid {
        grid-template-rows: 40px 40px 40px 100px 40px ;
        grid-template-columns: repeat(1, 280px);
    }
    
    .footer .footer_form .footer_grid .form_btn {
        width: 100%;
    }

    .footer .footer_text {
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        font-size: 11px;
        line-height: 14px;
        height: 40px;
    }

    .footer .footer_text span img {
        padding-top: 3px;
        transform: scale(.6);
    }

    .footer .footer_title {
        font-size: 20px;
        line-height: 23px;
        margin-top: 0;
    }

 

    .footer .footer_form .footer_grid {
        margin-top: 10px;
    }     

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}